In [1]:
%%capture
from sensitive_data.sensitive_data import *
from faker import Faker
import pandas as pd

# Create fake data

In [2]:
fake = Faker()
df = pd.DataFrame([fake.profile() for i in range(100)])
df.head()

,address,birthdate,blood_group,company,current_location,job,mail,name,residence,sex,ssn,username,website
0,"091 Brent Curve\nYufort, CA 02356",1973-06-23,A-,Holland-Rosales,"(-48.8526115, -98.628891)",Physiological scientist,thompsonveronica@yahoo.com,Amanda Bennett,"PSC 4152, Box 2988\nAPO AE 10020",F,729-36-6782,qjoyce,"[https://www.quinn.com/, http://james.info/]"
1,Unit 3877 Box 6035\nDPO AE 63296,2002-05-10,O-,Gallagher Inc,"(49.3815515, -133.616133)",Surgeon,chavezdonna@hotmail.com,Mary Barry,"46308 Andrew Isle\nWest Matthewburgh, IA 67321",F,184-75-3355,snydernathan,"[http://www.petersen.net/, https://henderson.c..."
2,64815 Benson Overpass Apt. 838\nWest Joshuafor...,2018-09-25,AB-,"Mullins, Smith and Jones","(-46.983561, 32.587748)","Research officer, political party",tkaufman@yahoo.com,Jocelyn Fowler,"410 Pierce Estate Apt. 576\nNew Vanessa, DC 79236",F,225-70-0018,nicole89,"[https://www.nolan.com/, https://www.lee.com/]"
3,"063 Thompson Locks\nPamelaport, IL 14329",1973-08-14,B-,Jones-Logan,"(27.5258385, -169.023448)",Water quality scientist,andre30@hotmail.com,Mark Spencer,"5521 Wilson Way Apt. 022\nJacksonborough, MS 1...",M,070-02-4369,louisayala,"[https://sanders.com/, http://ford.org/]"
4,"193 Vaughan Circles Suite 535\nNew Shane, OK 6...",1984-12-07,A-,Knapp PLC,"(12.0614075, -14.682045)",Electronics engineer,jensencynthia@hotmail.com,Mia Oliver,"3158 Green Harbors\nDavidmouth, CA 86199",F,187-62-9176,mcconnellryan,"[https://www.edwards.com/, http://anderson.com..."

# Redact sensitive data

In [3]:
sensitive_data(df, redact=True, score_threshold=0.50).head(5)

,address,birthdate,blood_group,company,current_location,job,mail,name,residence,sex,ssn,username,website
0,"091 <PERSON>\nYufort, CA 02356",<DATE_TIME>,A-,<PERSON>,"(Decimal('-48.8526115'), Decimal('-98.628891'))",Physiological scientist,<EMAIL_ADDRESS>,<PERSON>,"PSC 4152, Box 2988\nAPO AE 10020",F,<US_SSN>,qjoyce,"['https://<DOMAIN_NAME>/', 'http://<DOMAIN_NAM..."
1,Unit 3877 Box 6035\nDPO AE 63296,<DATE_TIME>,O-,Gallagher Inc,"(Decimal('49.3815515'), Decimal('-133.616133'))",Surgeon,<EMAIL_ADDRESS>,<PERSON>,"46308 Andrew Isle\n<NRP>, IA 67321",F,<US_SSN>,<LOCATION>,"['http://<DOMAIN_NAME>/', 'https://<DOMAIN_NAM..."
2,<DATE_TIME> Benson Overpass Apt. 838\nWest Jos...,<DATE_TIME>,AB-,"<PERSON>, <PERSON> and <PERSON>","(Decimal('-46.983561'), Decimal('32.587748'))","Research officer, political party",<EMAIL_ADDRESS>,<PERSON>,"410 Pierce Estate Apt. 576\nNew Vanessa, DC 79236",F,<US_SSN>,nicole89,"['https://<DOMAIN_NAME>/', 'https://<DOMAIN_NA..."
3,"063 Thompson Locks\nPamelaport, IL 14329",<DATE_TIME>-14,B-,<PERSON>,"(Decimal('27.5258385'), Decimal('-169.023448'))",Water quality scientist,<EMAIL_ADDRESS>,<PERSON>,"5521 Wilson Way Apt. 022\n<LOCATION>, MS 17761",M,<US_SSN>,louisayala,"['https://<DOMAIN_NAME>/', 'http://<DOMAIN_NAM..."
4,"193 Vaughan Circles Suite 535\n<PERSON>, OK <D...",<DATE_TIME>,A-,Knapp PLC,"(Decimal('12.0614075'), Decimal('-14.682045'))",Electronics engineer,<EMAIL_ADDRESS>,<PERSON>,"3158 Green Harbors\nDavidmouth, CA 86199",F,<US_SSN>,mcconnellryan,"['https://<DOMAIN_NAME>/', 'http://<DOMAIN_NAM..."

# Redact sensitive data using selected columns

In [5]:
cols = ['birthdate', 'mail']
df[cols] = sensitive_data(df, redact=True, score_threshold=0.50, cols=['birthdate', 'mail'])
df.head(2)

,address,birthdate,blood_group,company,current_location,job,mail,name,residence,sex,ssn,username,website
0,"091 Brent Curve\nYufort, CA 02356",<DATE_TIME>,A-,Holland-Rosales,"(-48.8526115, -98.628891)",Physiological scientist,<EMAIL_ADDRESS>,Amanda Bennett,"PSC 4152, Box 2988\nAPO AE 10020",F,729-36-6782,qjoyce,"[https://www.quinn.com/, http://james.info/]"
1,Unit 3877 Box 6035\nDPO AE 63296,<DATE_TIME>,O-,Gallagher Inc,"(49.3815515, -133.616133)",Surgeon,<EMAIL_ADDRESS>,Mary Barry,"46308 Andrew Isle\nWest Matthewburgh, IA 67321",F,184-75-3355,snydernathan,"[http://www.petersen.net/, https://henderson.c..."

# Identify infotypes in each column

In [6]:
sensitive_data(df, redact=False, identify_column_infotypes=True, score_threshold=0.50, sample_size=100)

{'address': ['DATE_TIME', 'LOCATION', 'PERSON'],
 'birthdate': None,
 'blood_group': None,
 'company': ['PERSON'],
 'current_location': None,
 'job': None,
 'mail': None,
 'name': ['PERSON'],
 'residence': ['LOCATION'],
 'sex': None,
 'ssn': ['US_SSN'],
 'username': None,
 'website': ['DOMAIN_NAME']}